body {
    background-color:gray;
}

.box {
    background-color: white;
    margin:20px 100px;
    padding:10px 50px 50px;
    border:3px solid black;
    float:left;
}

h1 {
    text-align: center;
}

.story {
    width:60%;
    float:left;
}

img {
    width:30%;
    height:350px;
    float:right;
}